#user-fund-withdraw-request
  = link_to 'Request Fund withdrawal', new_fund_withdraw_request_path

  %table
    %caption
      %em My Fund Withdrawal Requests
    %thead
      %tr
        %th Bank Name
        %th Account Number
        %th Amount
        %th Fee (USD)
        %th Message
        %th Status
        %th.last Requested at
    %tbody
      - @fund_withdraw_requests.each do |fund_withdraw_request|
        %tr{class: cycle("odd", "even")}
          %td= fund_withdraw_request.bankaccount.name
          %td= fund_withdraw_request.bankaccount.number
          %td= append_currency_to_amount fund_withdraw_request
          %td= fund_withdraw_request.fee
          %td= fund_withdraw_request.message
          %td= explain_status fund_withdraw_request
          %td= fund_withdraw_request.created_at
