#admin-fund-withdraw-request
  %table
    %caption
      %em Manage Fund Withdrawal Requests
    %thead
      %tr
        %th Beneficiary's Name
        %th Amount
        %th Fee (USD)
        %th Fund Available
        %th Message
        %th.last Status
        %th Requested at
        %th Beneficiary's Address
        %th.last
    %tbody
      - @fund_withdraw_requests.each do |fund_withdraw_request|
        %tr{class: cycle("odd", "even")}
          %td= fund_withdraw_request.beneficiary_name
          %td= append_currency_to_amount fund_withdraw_request
          %td= fund_withdraw_request.fee
          %td= fund_withdraw_request.user.usd.available.to_s + " USD"
          %td= fund_withdraw_request.message
          %td= explain_status fund_withdraw_request
          %td= fund_withdraw_request.created_at
          %td= fund_withdraw_request.beneficiary_address
          %td= link_to('Process', "/admin/fund_withdraw_requests/#{fund_withdraw_request.id}") if fund_withdraw_request.status == 'pending'