= semantic_form_for @ask do |f|
  = f.inputs "#{@ask.new_record? ? 'New' : 'Edit'} Ask" do
    = f.semantic_errors
    = f.input :amount
    = f.input :price, :label => 'Price (in USD)'
    = f.commit_button
