#user-trade-book
  %table
    %caption
      %em Trade Log
    %thead
      %tr
        %th Executed at
        %th Bids
        %th Asks
        %th Trade Price per BTC
        %th Commission
    %tbody
      - @trades.each do |trade|
        %tr{class: cycle("odd", "even")}
          %td #{trade.updated_at}
          %td #{"#{trade.bid.amount} BTC at #{trade.bid.price} USD"}
          %td #{"#{trade.ask.amount} BTC at #{trade.ask.price} USD"}
          %td #{trade.market_price.to_f}
          %td 0.0 USD

      %tr{class: cycle("odd", "even")}
        %td= paginate @trades