= form_for @bid, :html => {:class => 'new_order formtastic'} do |f|
  %fieldset
    %legend New Bid
    %div
      - unless @bid.errors[:base].blank?
        .error
          - @bid.errors[:base].each do |msg|
            = msg
      %div
        = f.hidden_field :order_type, :value => Order::Type::LIMIT
        Buy
        %div{:class => @bid.errors[:amount].blank? ? "no-error" : "field error"}
          #{f.text_field(:amount, :size => 5)}
          = @bid.errors[:amount].join(" and ") unless @bid.errors[:amount].blank?
        %abbr{:title => "required"}*
        BTC
        %br/
        = f.radio_button :order_type, "Limit", {:checked => true}
        With Limit Price of
        %div{:class => @bid.errors[:price].blank? ? "no-error" : "field error"}
          #{ f.text_field(:price, :size => 5) }
          = @bid.errors[:price].join(" and ") unless @bid.errors[:price].blank?
        %abbr{:title => "required"}*
        USD per BTC (limit order)
        %br/
        = f.radio_button :order_type, "Market"
        No matter what the market price per Bitcoin (market order)
        %br/
        %br/
      = f.submit
