= form_for @bid do |f|
  -if @bid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bid.errors.count, "error")} prohibited this bid from being saved:"
      %ul
        - @bid.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.label :amount, 'Amount'
    %br/
    = f.text_field :amount
    %br/
    = f.label :price, 'Price (in USD)'
    %br/
    = f.text_field :price
    %br/
    = f.submit 'Save'
