%h1 Listing bids

%table
  %tr
    %th Amount
    %th Price
    %th Time
    %th Status

  - @bids.each do |bid|
    %tr
      %td= bid.amount
      %td= bid.price
      %td= bid.created_at
      %td= bid.status
      %td= link_to 'Show', bid
%br

= link_to 'New Bid', new_bid_path
