= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.inputs 'Sign Up' do
    = f.semantic_errors
    = f.input :email, :as => :email
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password, :required => true
    = f.input :referrer_code, :label => 'Referral Code'
    %li
      = recaptcha_tags unless Recaptcha.configuration.skip_verify_env.include? Rails.env
    = f.commit_button "Sign up"
