#user-order-book
  %table
    %caption
      %em My Order Book
    %thead
      %tr
        %th Last updated at
        %th Type
        %th Offered
        %th Asked
        %th Limit Price        
        %th Commission
        %th.last 
    %tbody
      - orders.each do |order|
        %tr{class: cycle("odd", "even")}
          %td #{order["updated_at"]}
          %td Limit #{order["type"]}
          %td #{order['type'].downcase == 'ask'? "#{order['amount_remaining'].to_f} BTC" : "#{order['total_price'].to_f} USD"}
          %td #{order['type'].downcase == 'ask'? "#{order['total_price'].to_f} USD" : "#{(order['amount_remaining']).to_f} BTC"}
          %td #{order["price"].to_f}          
          %td #{Commission::AMOUNT} USD
          %td= link_to('Cancel', "/#{order["type"].downcase}s/#{order["id"]}", method: :delete, confirm: "Are you sure to cancel this #{order["type"]}?")
      %tr{class: cycle("odd", "even")}
        %td{colspan: 7, class: "more"}= link_to 'more...', orders_url
