%ul#sidebar-links
  - if current_user.try(:admin?)
    %li= link_to_current 'Settings', admin_root_url
    %li= link_to_current 'Funds', admin_funds_url
    %li= link_to_current 'Orders', admin_orders_url
    %li= link_to_current 'Trades', admin_trades_url
  - else
    %li= link_to_current 'Home', root_url
    %li= link_to_current 'Dashboard', welcome_index_url
    %li= link_to_current 'My Wallet', wallet_url
    %li= link_to_current 'BTC Instant Order', new_order_url(:type => :instant)
    %li= link_to_current 'BTC Market Order', new_order_url(:type => :market)
    %li= link_to_current 'BTC Limit Order', new_order_url(:type => :limit)
    / %li= link_to_current 'BTC Fixed Mining'
    / %li= link_to_current 'BTC Mining Contract'
    %li= link_to_current 'Deposit Funds', deposit_funds_url
    %li= link_to_current 'Withdraw Funds', withdraw_funds_url

