%ul#sidebar-links
  %li= link_to 'Home', root_url
  %li= link_to 'My Wallet', wallet_url
  %li= link_to 'BTC Instant Order'
  %li= link_to 'BTC Market Order'
  %li= link_to 'BTC Limit Order', bids_path, :class => 'active'
  %li= link_to 'BTC Fixed Mining'
  %li= link_to 'BTC Mining Contract'
  %li= link_to 'Deposit Funds'
  %li= link_to 'Withdraw Funds'
