%ul#sidebar-links
  - if current_user.try(:admin?)
    %li= link_to_current 'Settings[Admin]', admin_root_url
    %li= link_to_current 'Funds[Admin]', admin_funds_url
    %li= link_to_current 'Manage Fund Deposits[Admin]', admin_fund_deposit_requests_url
    %li= link_to_current 'Manage Fund Withdrawals[Admin]', admin_fund_withdraw_requests_url
    %li= link_to_current 'Orders[Admin]', admin_orders_url
    %li= link_to_current 'Trades[Admin]', admin_trades_url
  %li= link_to_current 'Home', root_url
  %li= link_to_current 'Dashboard', welcome_index_url
  %li= link_to_current 'My Wallet', user_wallets_url
  %li= link_to_current 'BTC Instant Order', new_order_url(:type => :instant)
  %li= link_to_current 'BTC Market Order', new_order_url(:type => :market)
  %li= link_to_current 'BTC Limit Order', new_order_url(:type => :limit)
  / %li= link_to_current 'BTC Fixed Mining'
  / %li= link_to_current 'BTC Mining Contract'
  %li= link_to_current 'Deposit Funds', fund_deposit_requests_url
  %li= link_to_current 'Withdraw Funds', fund_withdraw_requests_url
  %li= link_to_current 'Manage Bank Accounts', bankaccounts_url


