#user-trade-book
  %table
    %caption
      %em My Trade Log
    %thead
      %tr
        %th Executed at
        %th Type        
        %th Sold
        %th Bought
        %th Limit Price
        %th New Market Price
        %th.last Commission
    %tbody
      - trades.each do |trade|
        %tr{class: cycle("odd", "even")}
          %td #{trade['executed_at']}
          %td #{trade['type']}          
          %td #{trade['type'].downcase == 'ask'? "#{trade['sold'].to_f} BTC" : "#{trade['sold'].to_f} USD"}
          %td #{trade['type'].downcase == 'ask'? "#{trade['bought'].to_f} USD" : "#{trade['bought'].to_f} BTC"}
          %td #{trade["price"].to_f}
          %td #{trade["execution_price"].to_f} 
          %td #{Commission::AMOUNT} USD
      - if snapshot
        %tr{class: cycle("odd", "even")}
          %td{colspan: 7, class: "more"}= link_to 'more...', trades_url
