= semantic_form_for @fund_deposit do |f|
  = f.inputs "#{@fund_deposit.new_record? ? 'Request' : 'Edit'} Fund Deposit" do
    = f.semantic_errors
    = f.input :bankaccount, :label => 'Bank Details', :as => :select, :collection => @bank_accounts, :include_blank => true, :label_method => :name_account, :required => true
    = f.input :amount, :label => 'Amount', :required => true
    = f.input :currency, :label => 'Currency', :as => :select, :collection => @currencies, :required => true
    %h3
      IMPORTANT: Please remember to use <font color="red"><strong>#{current_user.email}</strong></font> as Deposit Code while transferring the amount to Bitflow account.
    = f.commit_button :button_html => { :value => "#{@fund_deposit.new_record? ? 'Request' : 'Edit'} Fund Deposit"}
