#user-fund-deposit
  %table
    %caption
      %em My Fund Deposits
    %thead
      %tr
        %th Bank Name
        %th Account Number
        %th Amount
        %th Currency
        %th Requested at
        %th Status
        %th Last updated at
        %th.last
    %tbody
      - @fund_deposits.each do |fund_deposit|
        %tr{class: cycle("odd", "even")}
          %td= fund_deposit.bankaccount.name
          %td= fund_deposit.bankaccount.number
          %td= fund_deposit.amount
          %td= fund_deposit.currency
          %td= fund_deposit.created_at
          %td= fund_deposit.status
          %td= fund_deposit.updated_at
          %td= link_to('Cancel', fund_deposit, :confirm => 'Are you sure to cancel this fund deposit request?', :method => :delete) if fund_deposit.status == 'pending'
      %tr{class: cycle("odd", "even")}
        %td
        %td
        %td
        %td
        %td
        %td
        %td
        %td= link_to 'Request Fund deposit', new_fund_deposit_path