%ul.span-14
  - if current_user
    %li= referral_code
    %li= referral_code_link
  %li Lowest Commissions (0.3%)
  %li Dedicated BTC Wallet
/  %li Trade BTC & Mining Contracts
/  %li
/    Earn interest with
/    = link_to 'Fixed Mining', '/fixed_mining'
%hr
#recent-order-books
  .bids= render :partial => 'recent_orders', :locals => {:items => @asks, :item_type => 'Ask'}
  .asks= render :partial => 'recent_orders', :locals => {:items => @bids, :item_type => 'Bid'}
%hr.space
#tabs
  %ul
    %li
      %a{:href => '#btc'} BTC
  #btc
    #btc_pricing_graph

%hr.space

- content_for(:javascript) do
  = javascript_include_tag 'highstock.src'

  :javascript
    $(function() {
      $('#tabs').tabs();
      loadPriceChart();
    });
  