%table
  %caption
    %em My BTC Payment Requests
  %thead
    %tr
      %th Date
      %th Amount
      %th Message
      %th Status
      %th.last Beneficiary's Bitcoin Address
  %tbody
    - @btc_withdraw_requests.each do |btc_withdraw_request|
      %tr{class: cycle("odd", "even")}
        %td #{btc_withdraw_request.updated_at}
        %td #{btc_withdraw_request.amount.to_f}
        %td #{btc_withdraw_request.message}
        %td #{btc_withdraw_request.status}
        %td #{btc_withdraw_request.destination_btc_address}
    %tr{class: cycle("odd", "even")}
      %td= link_to 'Send BTC Payment', new_btc_withdraw_request_path	     