#user-wallet
  %table
    %caption
      %em My Wallet
    %thead
      %tr
        %th Name
        %th Bitcoin Address
        %th Balance
        %th Created at
        %th.last Updated at
    %tbody
      - unless @user_wallet.nil?
        %tr{class: cycle("odd", "even")}
          %td= @user_wallet.name
          %td= @user_wallet.address
          %td= @user_wallet.balance.to_f
          %td= @user_wallet.created_at
          %td= @user_wallet.updated_at
  %table
    %caption
      %em My BTC Fund History
    %thead
      %tr
        %th Date
        %th Description
        %th BTC Change
        %th Status
        %th.last Notes
    %tbody
      - @btc_fund_transfers.each do |btc_fund_transfer|
        %tr{class: cycle("odd", "even")}
          %td= btc_fund_transfer.created_at
          %td= description btc_fund_transfer.description
          %td= btc_change btc_fund_transfer.amount.to_f, btc_fund_transfer.transaction_type
          %td= btc_fund_transfer.status
          %td= btc_notes btc_fund_transfer.destination_btc_address, btc_fund_transfer.send_message
      %tr{class: cycle("odd", "even")}
        %td= link_to 'Send Payment', new_btc_fund_transfer_path	     