%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
  = f.label :email 
  %br
  = f.email_field :email 
  %p
  = f.label :password 
  %br
  = f.password_field :password

  - if devise_mapping.rememberable?
    %p
    = f.check_box :remember_me 
    = f.label :remember_me

  %p 
  = f.submit "Sign in"
%br
#signin_help
  #{link_to("Forgot password?", new_password_path(resource_name))} or #{link_to("Need help?", signin_help_url)}

- if flash[:alert]
  - content_for(:javascript) do
    :javascript
      $(function(){
        var message = $('.flash.alert').html();
        message += $('#signin_help').html();
        $('.flash.alert').html(message);
      });
    