= semantic_form_for @search_criteria, :url => "/admin/fund_deposits/search" do |f|
  = f.inputs "Search Fund Deposits" do
    = f.semantic_errors
    = f.input :email, :label => 'Email'
    = f.label 'or'
    = f.input :account_number, :label => 'Account Number'
    = f.commit_button :button_html => { :value => "Search"}
