= render 'form'
#admin-fund-deposit
  %table
    %caption
      %em Manage Fund Deposits
    %thead
      %tr
        %th User Email
        %th Bank Name
        %th Account Number
        %th Amount
        %th Net Amount
        %th Currency
        %th Requested at
        %th Last updated at
        %th.last
    %tbody
      - @fund_deposits.each do |fund_deposit|
        %tr{class: cycle("odd", "even")}
          %td= fund_deposit.user.email
          %td= fund_deposit.bankaccount.name
          %td= fund_deposit.bankaccount.number
          %td= fund_deposit.amount
          %td= fund_deposit.net_amount
          %td= fund_deposit.currency
          %td= fund_deposit.created_at
          %td= fund_deposit.updated_at
          %td= link_to('Confirm', "/admin/fund_deposits/#{fund_deposit.id}", :confirm => 'Are you sure to confirm this fund deposit request?', :method => :put) if fund_deposit.status == 'pending'
