= semantic_form_for @btc_fund_transfer do |f|
  = f.inputs "Send Payment" do
    = f.semantic_errors
    = f.input :destination_btc_address, :label => 'Bitcoin Address', :required => true
    = f.input :amount, :label => 'Amount', :required => true
    = f.input :send_message, :label => 'Message', :required => true
    = f.commit_button :button_html => { :value => "Send Payment"}
