%h1 Listing Trades

%table
  %tr
    %th Amount
    %th Time
    %th Bids
    %th Asks

  - @trades.each do |trade|
    %tr
      %td= trade.amount
      %td= trade.created_at
      %td
        %ul
          - trade.bids.each do |bid|
            %li= link_to bid.amount.to_s + " BTC @ $" + bid.price.to_s , bid
      %td      
        %ul
          - trade.asks.each do |ask|
            %li= link_to ask.amount.to_s + "BTC @ $" + ask.price.to_s , ask

= link_to 'Back', "/"
