%head
  %title Bitflow
  %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}

  %link{:href => "/css/jq_fade.css", :rel => "stylesheet", :type => "text/css"}/


  /= stylesheet_link_tag 'formtastic.css', 'screen.css', 'formtastic_changes.css', :media => 'screen, projection'
  = stylesheet_link_tag 'formtastic.css', 'formtastic_changes.css', :media => 'screen, projection'

  = stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.8.14.custom.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  = csrf_meta_tag
