!!! XML
!!! 5
%html
  = render 'layouts/head'

  %body.bp.two-col
    #container
      %hr.space
      #header
        .container
          .span-16
            %div
              = link_to '', root_url, class: 'logo'
            .span-8
              .quiet 24/7 Secure Bitcoin Exchange
          .span-8.last
            = render '/devise/shared/login_items'
      %hr
      #sidebar
        = render '/shared/sidebar'
      #content
        = render '/shared/authenticated_menu_items'

        - flash.each do |key, message|
          = content_tag(:div, message, :class => "flash #{key}") unless key == :recaptcha_error 

        = yield

      %hr
      #footer

  = javascript_include_tag :defaults
  = yield(:javascript)
