!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  = render 'layouts/head'

  %body
    #wrap
      #ribbon
        %h1#logo
          %a{:href => root_path}
            BitFlow
            %span.black Exchange
          %span.desc Startup Chile 2011
        = render '/shared/topright'

      #nav
        = yield(:nav)
      - homeheader_content = yield(:homeheader)
      - unless homeheader_content.blank?
        #homeheader= homeheader_content
      #contents
        - flash.each do |key, message|
          = content_tag(:div, message, :class => "flash #{key}") unless key == :recaptcha_error
        - if user_signed_in?  
          #left
            = yield
          #sidebar
            = render 'shared/sidebar'
        - else
          = yield

    #footer.clear
      #container
        .left
          %p
            2011 © BitFlow.org
          %p
            %a{:href => "#"} Home
            |
            %a{:href => "#"} About
            |
            %a{:href => "#"} Services
            |
            %a{:href => "#"} Downloads
            |
            %a{:href => "#"} Contat Us
            |
            %a{:href => "#"} Privacy Policy
            |
            %a{:href => "#"} Terms of Use
        .credits
          %a{:href => "http://ramblingsoul.com", :title => "CSS Templates, CSS Layouts, HTML Templates, Website, Accessibility, Web 2.0"} CSS Template
          By RamblingSoul
        .clear

  = javascript_include_tag :defaults
  = yield(:javascript)

  :javascript
    $(document).ready(
      function(){
        $('ul#portfolio').innerfade({
          speed: 1000,
          timeout: 5000,
          type: 'sequence',
          containerheight: '220px'
        });
      });
